{% if user.is_anonymous == False %}
    <h1>Welcome {{user.username}}</h1>
    <a href="logout_v">Logout</a>
{% else %}
	<h1>You are not authorized to access this page</h1>
    <a href="login">Login here</a><br><a href="reg">Register here</a>
{% endif %}
