{% include "capstone/header.html" %}
<div class="content">
    <form action="add_task" method="post">
        {% csrf_token %}
        <label for="tname">Task name:</label>
        <input type="text" name="tname" required="True">
        <label for="desc">Description:</label>
        <input type="text" name="desc" required="True">
        <button type="submit" value="Create Task">Submit</button>
    </form>
</div>