{% include "capstone/header.html" %}
<div class="content">
    <form action="add_event" method="post">
        {% csrf_token %}
        <label for="ename">Event name:</label>
        <input type="text" name="ename" required="True">
        <label for="desc">Description:</label>
        <input type="text" name="desc" required="True">
        <label for="date">Event date:</label>
        <input type="datetime-local" name="date" required="True">
        <button type="submit" value="Create event">Submit</button>
    </form>
</div>