{% include "capstone/header.html" %}
<div class="content">
    <h2>{{eventitem.event_name}}</h2><br><br>
    <h3>Description:</h3>
    <p>{{eventitem.description}}</p><br>
    <h3>Status:</h3>
    <p>{{eventitem.status}}</p><br>
</div>