{% load static %}
<style>
    * {
        padding: 0;
        margin: 0;
    }

    header {
        text-align: center;
        background-color: bisque;
        width: 100%;
        padding: 20px 0px;
        font-size: 20px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    header a {
        padding-right: 40px;
        color: black;
        text-decoration: none; /* no underline */
    }

    .content {
        padding: 40px;
        width: 100%-80px;
        text-align: center;
        justify-items: center;
        justify-self: center;
    }
    
    form {
        align-self: center;
        display: grid;
        grid-template-columns: 200px 400px;
        gap: 10px 40px;
        text-align: left;
        justify-self: center;
    }

    input {
        padding: 6px;
        outline: 0;
        border-width: 0 0 2px;
        justify-self: none;
    }

    input:focus {
        border-color: green;
        outline: 1px dotted #000
    }
</style>
<header class="grid-container">
    <div style="justify-self: start; padding-left: 20px;">To Do Application</div>
    <div style="justify-self: end">
        <a href="../todoapp">Home</a>
        {% if user.is_anonymous == False %}
            <a href="add_task">Add Task</a>
            <a href="add_event">Add Event</a>
            <a href="profile">Profile</a>
            <a href="logout">Logout</a>
        {% else %}
            <a href="login">Login</a>
            <a href="register">Register</a>
        {% endif %}
    </div>
</header>