{% include "capstone/header.html" %}
<div class="content">
    {% if user.is_anonymous == False %}
        <h1>Welcome {{user.username}}!</h1><br>
        <div>
            <h3>Tasks:</h3><br><br>
            {% if todolist %}
                {% for todoitem in todolist %}
                    <a href="todo/{{todoitem.id}}">{{ todoitem.task_name }}</a>
                {% endfor %}
            {% else %}
                There are no tasks here at the moment
            {% endif %}
        </div><br><br>
        <div>
            <h3>Events:</h3><br><br>
            {% if eventlist %}
                {% for eventitem in eventlist %}
                        <a href="event/{{eventitem.id}}">{{eventitem.event_name}}</a><br>
                {% endfor %}
            {% else %}
                There are no events here at the moment
            {% endif %}
        </div><br><br>
    {% else %}
        <h1>You are not authorized to access this page</h1>
    {% endif %}
</div>
</body>
</html>