{% include "capstone/header.html" %}
<div class="content">
    <form action="login" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required="True">
        <label for="password">Password:</label>
        <input type="password" name="password" required="True">
        <button type="submit" value="Create Task">Submit</button>
    </form>
</div>