{% include "capstone/header.html" %}
<div class="content">
    <form action="profile" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{user.username}}" required="True">
        <label for="fname">First name:</label>
        <input type="text" name="fname" value="{{user.first_name}}">
        <label for="lname">Last name:</label>
        <input type="text" name="lname" value="{{user.last_name}}">
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{user.email}}" required="True">
        <label for="password">Password:</label>
        <input type="password" name="password" required="True">
        <label for="cpassword">Confirm Password:</label>
        <input type="password" name="cpassword" required="True">
        <button type="submit" value="Create Task">Submit</button>
    </form>
</div>