{% include "capstone/header.html" %}
<div class="content">
    <form action="register" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required="True">
        <label for="email">Email:</label>
        <input type="email" name="email" required="True">
        <label for="password">Password:</label>
        <input type="password" name="password" required="True">
        <label for="cpassword">Confirm Password:</label>
        <input type="password" name="cpassword" required="True">
        <button type="submit" value="Create Task">Submit</button>
        {% if error %}
            <p style="color: red;">{{error}}</p>
        {% endif %}
    </form>
</div>