{% include "capstone/header.html" %}
<div class="content">
    <h2>{{ todoitem.task_name }}</h2><br><br>
    <p>Description:</p>
    <p>{{todoitem.description}}</p><br>
    <h3>Status:</h3>
    <p>{{todoitem.status}}</p><br>
</div>